*,
*::before,
*::after {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
}

.logo, nav, section {
	padding: 10px;
}

section {
	margin-bottom: 20px;
}

.section__grey {
	background: #f5f9f7;
}

.bg-top>img {
	width: 100%;
	height: 568px;
	position: absolute;
	top: 0;
	z-index: -3;
}

.bg-bot-pos, .bg-top-pos {
	padding: 0;
	position: relative;
}

.bg-bot>img {
	width: 100%;
	height: 234px;
	position: absolute;
	bottom: 0;
	z-index: -3;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 auto;
	max-width: 960px;
}

.logo1::before {
	content: url(/images/logo1.png);
	display: inline-block;
	padding-right: 10px;
}

.logo1 {
	float: left;
	line-height: 40px;
	font-size: 40px;
	margin-right: auto;
}

nav {
	float: right;
}

nav a:link,
nav a:visited {
	color:black;
}

.top-text {
	margin-bottom: 125px;
}

.nav-item {
	padding: 10px;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
	border: 2px solid transparent;
	font-weight: 600;
}

.nav-item__active {
	border: 2px solid black;
}

.top-size {
	height: 50px;
}

.main-logo {
	margin-top: 30px;
	margin-left: 50px;
	width: 467px;
	height: 160px;
}

header {
	position: relative;
}

.lapka-img {
	opacity: 0;
}

#lapka1 {
	position: absolute;
	bottom: 10px;
	right: -100px;
}

#lapka2 {
	position: absolute;
	bottom: 70px;
	right: -200px;
	opacity: 0;
}

#lapka3 {
	position: absolute;
	bottom: 20px;
	right: -300px;
}

#lapka4 {
	position: absolute;
	bottom: -60px;
	right: -400px;
}

#lapka5 {
	position: absolute;
	bottom: -150px;
	right: -470px;
}

#lapka6 {
	position: absolute;
	bottom: -240px;
	right: -450px;
}

.descr {
	text-align: center;
  font-size: 36px;
  line-height: 1.2;
}

.descr-2 {
	margin-top: 20px;
	text-align: center;
	font-size: 22px;
	margin: 20px;
}

.flex-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}

.flex-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-row-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

footer {
	text-align: center;
	margin-top: 90px;
}

.block span {
	margin: 0 40px;
}

.copy {
  margin: 30px auto;
  font-size: 18px;
}

.text-bot {
	font-size: 24px;
	font-weight: 500;
}

.block {
	display: block;
}

.flex-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-item {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex-item-1 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.buy {
	background-color: rgb(52, 122, 81);
	width: 173px;
  height: 59px;
	line-height: 1.2;
	font-size: 30px;
}

.flex-center-all {
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

.flex-center-all>div {
	text-align: center;
}

.logo2 {
	line-height: 1.2;
	font-size: 48px;
}

.logo2-text {
	margin: auto 10px;
}

.flex-row-special {
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

footer a:link,
footer a:visited {
	margin: 0 20px;
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 1030px) {
	.lapka1, .lapka2, .lapka3, .lapka4, .lapka5, .lapka6 {
		display: none;
	}
}

@media screen and (max-width: 848px) {
	.top-text {
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 764px) {
	footer {
		margin-top: 90px;
	}
	
	.top-text {
	margin-bottom: 70px;
	}
}

@media screen and (max-width: 560px) {
	.image {
		width: 100%;
		height: auto;
	}
	
	footer {
		margin-top: 50px;
	}
	
	.flex-row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	
	.flex-bot {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	
	.logo1, .main-logo {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.top-text {
		margin-bottom: 100px;
	}
	
	footer {
		margin-top: 65px;
	}
}